{% extends 'core/base.html' %} {% load static %} {% block content %}



<section class="meetings-page" style="color: white;">
  <h2 style="text-align: center;">Cart</h2>
  {% if cart %}
  <div class="container meetings-page header-text" id="meetings">
    <div class="row">
      <div class="col-lg-12">
        <div class="box-element">
          <a class="btn btn-outline-danger" href="{% url 'frontpage' %}">&#x2190; Continue Shoping</a>
          <br /><br />
          <table class="table">
            <tr>
              <th>
                <h5 style="color: white;">Items: <strong>{{ cart|length}}</strong></h5>
              </th>
              <th>
                <h5 style="color: white;">Total: <strong>Rs.{{ cart.get_total_cost }}</strong></h5>
              </th>
              <th></th>
            </tr>
          </table>
        </div>
        <br />
        <div class="box-element">
          <div class="row">
            <div style="flex: 2"></div>
            <div style="flex: 2"><strong>Item</strong></div>
            <div style="flex: 2"><strong>Varient</strong></div>
            <div style="flex: 1"><strong>Price</strong></div>
            <div style="flex: 1"><strong>Quantity</strong></div>
            <div style="flex: 1"><strong>Total</strong></div>
            <div style="flex: 1"></div>
          </div>
          {% for item in cart %}
          <div class="row" style="justify-content: center; align-items: center;">
            <div style="flex: 2">
              <img style="width: 100px;" class="row-image" src="{{ item.product.get_thumbnail }}" />
            </div>
            <div style="flex: 2">{{ item.product.title }}</div>
            <div style="flex: 2">{{ item.product_varient }}</div>
            <div style="flex: 1">Rs. {{ item.product.price }}</div>
            <div style="flex: 1; justify-content: center; align-items: center">
              <div style="display: flex;">
                <div class="quantity" style="align-self: center; margin-right: 10px;">{{ item.quantity }}</div>
                <div style="display: flex; flex-direction: column;">
                  <a href="?change_quantity={{ item.id }}&quantity=1" style="color: white;">&#11205;</a>
                  <a href="?change_quantity={{ item.id }}&quantity=-1" style="color: white;">&#9660;</a>
                </div>
              </div>
            </div>
            <div style="flex: 1">Rs.{{ item.total_price }}</div>
            <div style="flex: 1">
              <a class="btn btn-danger" href="?remove_from_cart={{ item.id }}" class="delete">&#9003;</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container meetings-page" id="meetings" style="padding-top: 20px !important;">
    <div class="row">
      <div class="col-lg-6">
        <div id="form-wraper" class="box-element">
          <form action="." method="post" id="payment-form" style="color: wh;">
            {% csrf_token %}
            <div class="mb-3">
              <label>Complete Name</label>
              <input type="text" name="name" id="id_name" value="{{ request.user.buyer.complete_name }}" class="form-control" />
            </div>
            <div class="mb-3">
              <label>E-mail</label>
              <input type="email" name="email" id="id_email" value="{{ request.user.buyer.created_by.email }}"
                class="form-control" />
            </div>
            <div class="mb-3">
              <label>Phone Number</label>
              <input type="text" name="phone" id="id_phone" value="{{ request.user.buyer.phone }}" class="form-control" />
            </div>
            <div class="mb-3">
              <label>Address</label>
              <input type="text" name="address" id="id_address" value="{{ request.user.buyer.address }}" class="form-control" />
            </div>
            <div class="mb-3">
              <label>City</label>
              <input type="text" name="city" id="id_city" value="{{ request.user.buyer.city }}" class="form-control" />
            </div>
            <button class="btn btn-success btn-block">Checkout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br><br>
  {% else %}
  <div class="container meetings-page" id="meetings" style="padding-top: 20px !important;">
    <p style="color: white; text-align: center;">You don't have any products in your cart!</p>
  </div>
  {% endif %}
  <div class="footer" style="background: transparent;">
    <p>Copyright © 2022 StarSOft.com.pk

  </div>
</section>
{% endblock %}