{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<!-- ***** Header Area Start ***** -->

<!-- ***** Header Area End ***** -->

<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Rest Password Email Sent</h2>
        <h4 style="color: white;">Check Your Email</h4>
      </div>
    </div>
  </div>
</section>

<section class="meetings-page" style="padding-top: 40px !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row" style="justify-content: center; align-items: center;">
          <div class="col-lg-6">
            <div class="box-element" style="color: white !important;">
              <p>Reset Link Sent</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer" style="background: transparent;margin-top: 40px !important;">
    <p>Copyright © 2022 StarSOft.com.pk

  </div>
</section>
{% endblock %}