{% extends 'core/base.html' %} {% load static %} {% load widget_tweaks %} {% block content %}

<!-- ***** Header Area Start ***** -->

<!-- ***** Header Area End ***** -->

<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Reset Password</h2>
      </div>
    </div>
  </div>
</section>

<section class="meetings-page" style="background: transparent;padding-top: 40px !important">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row" style="justify-content: center; align-items: center">
          <div class="col-lg-6">
            <div class="box-element" style="color: white !important">
              <form method="post" action=".">
                {% csrf_token %} {% for field in form.visible_fields %}
                <div class="form-group">
                  <label class="form-label">{{ field.label_tag }}</label>
                  {% render_field field class="form-control"%}

                  <!-- <small class="form-text text-muted">{{ field.help_text }}</small><br> -->
                  {% if field.errors %}
                  <small class="form-text" style="color: red"
                    >{{ field.help_text }}</small
                  >
                  {% endif %}
                </div>
                {% endfor %}
                <div class="form-field" style="margin-top: 15px">
                  <button class="btn btn-mail-primary">Send Reset Email</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer" style="margin-top: 40px !important">
    <p>Copyright © 2022 StarSOft.com.pk</p>
  </div>
</section>
{% endblock %}
