{% extends 'core/base.html' %}
{% load static %}


{% block content %}



<section class="upcoming-meetings" id="meetings-sig" style="padding-bottom: 0px !important; padding-top: 150px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Top Running Producct</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories">
          <ul>

            <li><a href="{% url 'profile' %}">Profile Details</a></li><br>
            <li><a href="{% url 'varify-order' %}" style="color: #a12c2f;">Varify Orders</a></li><br>
            <li><a href="{% url 'total-orders' %}">Total Orders</a></li><br>
            <li><a href="{% url 'varified-orders' %}">Varified Orders</a></li><br>
            <li><a href="{% url 'notvarified-orders' %}">Not Varified Orders</a></li><br>
            <li><a href="{% url 'delivered-orders' %}">Delivered Orders</a></li><br>
          </ul>
          <div class="main-button-red">
            <a href="{% url 'products' %}"><i class="fa-solid fa-arrow-left"></i> Products</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="categories">
          <h4>Username: {{request.user.buyer}}</h4>
          {% if order %}
          {% for order in order %}
          {% if order.order.order_status == 2 %}
          <div style="display: flex; width: 100%;justify-content: space-around;">Order #: {{order.order.id}} <a
              style="float: right; align-self: flex-end; padding: 0 10px !important; margin: 0 !important;"
              href="{% url 'varify' order.order.id %}" class="btn btn-secondary">Varify</a>
          </div>

          <br>
          Order Status: <span class="badge" style="background-color: #CC0000;"><i class="fa-solid fa-xmark"></i> Not
            Varified</span>
          <br>
          <button
            onclick="myFunction('showproducts{{order.id}}','mybtn{{order.id}}','arrow{{order.id}}','arrow2{{order.id}}')"
            style="color: red; cursor: pointer;background: none;border: none;" id="mybtn{{order.id}}">Show Orderd
            Products
            <i class="fa-solid fa-chevron-down" id="arrow{{order.id}}"></i><i class="fa-solid fa-chevron-up"
              id="arrow2{{order.id}}" style="display: none;"></i>
          </button>
          <div class="box-element" style="display: none;" id="showproducts{{order.id}}">
            <div class="row">
              <div style="flex: 2"></div>
              <div style="flex: 2"><strong>Item</strong></div>
              <div style="flex: 1"><strong>Price</strong></div>
              <div style="flex: 1"><strong>Quantity</strong></div>
              <div style="flex: 1"><strong>Total</strong></div>

            </div>
            <div class="row" style="justify-content: center; align-items: center;">
              <div style="flex: 2">
                <img style="width: 100px;" class="row-image" src="{{ order.product.get_thumbnail }}" />
              </div>
              <div style="flex: 2">{{ order.product.title }}</div>
              <div style="flex: 1">${{ order.product.price }}</div>
              <div style="flex: 1; justify-content: center; align-items: center">
                <div class="quantity">
                  <div class="quantity">{{ order.quantity }}</div>
                </div>
              </div>
              <div style="flex: 1">Rs.{{ order.price }}</div>

            </div>
          </div>
          <hr>
          {% endif %}

          {% endfor %}
          {% else %}
          <p>You Don't have any orders yet</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright © 2022 StarSOft.com.pk

  </div>
</section>
{% endblock %}
{% block scripts %}
<script>
  function myFunction(sp, btn, a1, a2) {
    var showproducts = document.getElementById(sp);
    var btnText = document.getElementById(btn);
    var arrow = document.getElementById(a1);
    var arrow2 = document.getElementById(a2);
    console.log(showproducts, btnText, arrow, arrow2)
    if (arrow.style.display === "none") {
      arrow.style.display = "inline";
      arrow2.style.display = "none";
      showproducts.style.display = "none";
    } else {
      arrow.style.display = "none";
      arrow2.style.display = "inline";
      showproducts.style.display = "block";
    }
  }
</script>
{% endblock %}