{% extends 'core/base.html' %} {% load static %} {% load widget_tweaks %} {% block content %}

<section
  class="upcoming-meetings header-text"
  id="meetings-sig"
  style="padding-bottom: 0px !important; padding-top: 150px"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Profile</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories"> 
          <ul>
            <li><a href="{% url 'profile' %}">Profile Details</a></li>
            <br />
            <li><a href="{% url 'varify-order' %}">Varify Orders</a></li>
            <br />
            <li><a href="{% url 'total-orders' %}">Total Orders</a></li>
            <br />
            <li><a href="{% url 'varified-orders' %}">Varified Orders</a></li>
            <br />
            <li>
              <a href="{% url 'notvarified-orders' %}">Not Varified Orders</a>
            </li>
            <br />
            <li><a href="{% url 'delivered-orders' %}">Delivered Orders</a></li>
            <br />
          </ul>
          <div class="main-button-red">
            <a href="{% url 'products' %}"
              ><i class="fa-solid fa-arrow-left"></i> Products</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="categories">
          <h4>Username: {{request.user.buyer}}</h4>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {% for field in form.visible_fields %}
            <div class="form-group">
              <label class="form-label">Varify Your Paid Slip:</label>
              {% render_field field class="form-control" value='{{ order.paid_slip }}' %}

              <!-- <small class="form-text text-muted">{{ field.help_text }}</small><br> -->
              {% if field.errors %}
              <small class="form-text" style="color: red"
                >{{ field.help_text }}</small
              >
              {% endif %}
              <small class="form-text" style="color: black"
                >Upload Image of Your Paid Slip Here.</small
              >
            </div>
            {% endfor %}
            <div class="form-field" style="margin-top: 15px">
              <button class="btn btn-mail-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer" style="background: transparent;">
    <p>Copyright © 2022 StarSOft.com.pk</p>
  </div>
</section>
{% endblock %}
