{% extends 'core/base.html' %} {% load static %} {% block title %}Cart |
{% endblock %} {% block content %}
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="{% url 'frontpage' %}" class="logo">
            <img src="{% static 'assets/images/logo.png' %}" width="100" height="80">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="{% url 'frontpage' %}">Home</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>


            <li><a href="index.html">Contact Us</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>


<section class="meetings-page" style="color: white;" >
    <h2 style="text-align: center;">Cart</h2>
  {% if cart %}
  <div class="container meetings-page" id="meetings">
    <div class="row">
      <div class="col-lg-12">
        <div class="box-element">
          <a class="btn btn-outline-danger" href="{% url 'frontpage' %}">&#x2190; Continue Shoping</a>
          <br /><br />
          <table class="table">
            <tr>
              <th>
                <h5 style="color: white;">Items: <strong>{{ cart|length}}</strong></h5>
              </th>
              <th>
                <h5 style="color: white;">Total: <strong>Rs.{{ cart.get_total_cost }}</strong></h5>
              </th>
              <th></th>
            </tr>
          </table>
        </div>
        <br />
        <div class="box-element">
          <div class="row">
            <div style="flex: 2"></div>
            <div style="flex: 2"><strong>Item</strong></div>
            <div style="flex: 1"><strong>Price</strong></div>
            <div style="flex: 1"><strong>Quantity</strong></div>
            <div style="flex: 1"><strong>Total</strong></div>
            <div style="flex: 1"></div>
          </div>
          {% for item in cart %}
          <div class="row" style="justify-content: center; align-items: center;">
            <div style="flex: 2">
              <img style="width: 100px;" class="row-image" src="{{ item.product.get_thumbnail }}" />
            </div>
            <div style="flex: 2">{{ item.product.title }}</div>
            <div style="flex: 1">${{ item.product.price }}</div>
            <div style="flex: 1; justify-content: center; align-items: center">
              <div class="quantity">
                <div class="quantity">{{ item.quantity }}</div>
                <a href="?change_quantity={{ item.id }}&quantity=1">&#11205;</a>
                <a href="?change_quantity={{ item.id }}&quantity=-1">&#9660;</a>
              </div>
            </div>
            <div style="flex: 1">${{ item.total_price }}</div>
            <div style="flex: 1">
              <a class="btn btn-danger" href="?remove_from_cart={{ item.id }}" class="delete">&#9003;</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container meetings-page" id="meetings" style="padding-top: 20px !important;">
    <h2 class="subtitle">Contact information</h2>
    <div class="row">
      <div class="col-lg-6">
        <div id="form-wraper" class="box-element">
          <form action="." method="post" id="payment-form" style="color: wh;">
            {% csrf_token %} {% if form.non_field_errors %}
            <div class="notification is-danger">{{ form.non_field_errors}}</div>
            {% endif %} {% if form.errors %}
            <div class="notification is-danger">
              <ul>
                {% for field in form %} {% for error in field.errors %}
                <li><strong>{{ field.label }}: </strong>{{ error }}</li>
                {% endfor %} {% endfor %}
              </ul>
            </div>
            {% endif %}
            <div id="user-info">
              <div class="column is-6">
                <p>Personal information:</p>
                <div class="form-field">
                  <div class="control">
                    <input class="form-control" type="text" name="first_name" placeholder="First Name" />
                  </div>
                </div>

                <div class="form-field">
                  <div class="control">
                    <input class="form-control" type="text" name="last_name" placeholder="Last Name" />
                  </div>
                </div>

                <div class="form-field">
                  <div class="control">
                    <input class="form-control" type="email" name="email" placeholder="Email" />
                  </div>
                </div>

                <div class="form-field">
                  <div class="control">
                    <input class="form-control" type="text" name="phone" placeholder="Phone Number" />
                  </div>
                </div>
              </div>
            </div>
            <div id="shiping-imfo">
              <hr />
              <p>Shipping information:</p>
              <div class="form-field">
                <div class="control">
                  <input class="form-control" type="text" name="address" placeholder="Address" />
                </div>
              </div>

              <div class="form-field">
                <div class="control">
                  <input class="form-control" type="text" name="zipcode" placeholder="Zipcode" />
                </div>
              </div>

              <div class="form-field">
                <div class="control">
                  <input class="form-control" type="text" name="place" placeholder="Place/City" />
                </div>
              </div>
            </div>
            <button class="btn btn-success btn-block">Checkout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br><br>
  {% else %}
  <div class="container meetings-page" id="meetings" style="padding-top: 20px !important;">
    <p>You don't have any products in your cart!</p>
  </div>
  {% endif %}
</section>
{% endblock %} 