<div class="col-lg-4 templatemo-item-col all att soon">
  <div href="{% url 'product' product.category.slug product.slug %}" class="meeting-item">
    <div class="thumb">
      <div class="price">
        <span>Rs.{{ product.price }}</span>
      </div>
      <a href="{% url 'product' product.category.slug product.slug %}"><img id="product-image"
          src="{{ product.image.url }}" alt="" /></a>
    </div>
    <div class="down-content">
      <h4>{{ product.title }}</h4>
    </div>
  </div>
</div>