{% extends 'core/base.html' %} {% load static %} {% block content %}

<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="header-text">{{product.title}}</h2>
        <h6 style="margin: 0 20px !important">{{product.category.title}}</h6>
        <h6 style="margin: 0 20px !important">Rs.{{product.price}}</h6>
      </div>
    </div>
  </div>
</section>
<section
  class="meetings-page"
  id="meetings"
  style="padding-top: 20px !important"
>
  <div id="productapp" class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="box-element">
          {% if product.image %}
          <figure class="image is-2by1 mb-6">
            <img
              :src="mainImage.image"
              style="max-height: 60vh; object-fit: contain"
            />
          </figure>
          {% endif %} {% if product.images.all %}
          <hr />
          <div class="row product_subdiv">
            <div
              class="col-sm-6"
              v-for="image in images"
              v-bind:key="image.id"
              style="padding: 20px"
            >
              <img
                :src="image.thumbnail"
                @click="changeMainImage(image)"
                style="
                  height: 100%;
                  margin-left: 10px;
                  margin-right: 10px;
                  width: 100px;
                  cursor: pointer;
                "
              />
            </div>
          </div>
          {% endif %}
        </div>

        <div
          style="
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-evenly;
          "
        >
          <h3 class="title" style="color: white; padding: 10px 0px">
            <b>Product Name: </b>{{ product.title}}
          </h3>
          <h3 style="color: white; padding: 10px 0px">
            <b>Price: </b>Rs.{{ product.price }}
          </h3>
          <h3 style="color: white; padding: 10px 0px">
            <b>Description: </b>{{ product.description }}
          </h3>
        </div>

        <hr />

        {% if messages %} {% for message in messages %}
        <div class="notification is-success is-toast" style="color: white">
          {{ message }}
        </div>
        {% endfor %} {% endif %} {% if request.user.is_authenticated %}
         {% if request.user.buyer %}
        <form method="post" action=".">
          {% csrf_token %}

          <div class="form-field" style="width: 160px !important">
            <label for="quantity" style="color: white; padding-bottom: 5px"
              >Quantity</label
            >
            <input
              id="quantity"
              type="number"
              name="quantity"
              value="1"
              class="form-control"
              min="1"
            />

            <button class="btn btn-mail-primary" style="margin-top: 10px">
              Add to cart
            </button>
          </div>
        </form>
        {% endif %} {% else %}
        <form method="post" style="width: 160px !important">
          {% csrf_token %}
          <label for="quantity" style="color: white; padding-bottom: 5px"
            >Quantity</label
          >
          <input
            id="quantity"
            type="number"
            name="quantity"
            value="1"
            class="form-control"
            min="1"
          />
          <button
            onclick="click()"
            class="btn btn-mail-primary"
            style="margin-top: 10px"
          >
            Add to cart
          </button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="footer" style="background: transparent;">
    <p>Copyright © 2022 StarSOft.com.pk</p>
  </div>
</section>
{% endblock %} {% block scripts %} 
{{ imagesstring|json_script:"json-imagesstring" }}
<script src="https://unpkg.com/vue@next"></script>
<script>
  const ProductApp = {
    data() {
      return {
        mainImage: "",
        images: [],
      };
    },
    mounted() {
      this.images = JSON.parse(
        JSON.parse(document.getElementById("json-imagesstring").textContent)
      );
      this.mainImage = this.images[0];
    },
    methods: {
      changeMainImage(image) {
        this.mainImage = image;
      },
    },
  };

  Vue.createApp(ProductApp).mount("#productapp");
  console.log(ProductApp);
</script>
<script>
  function click() {
    alert("Clicked");
  }
</script>
{% endblock %}
