{% extends 'core/base.html' %}
{% load static %}
{% block content %}


<!-- ***** Header Area Start ***** -->

<!-- ***** Header Area End ***** -->

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>Products</h6>



                <h2>NE&L</h2>
            </div>
        </div>
    </div>
</section>

<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row" id="products-list">
                    
                    <div class="col-lg-12">
                      <div class="filters" style="margin-bottom: 20px !important;">
                        <div>
                          <a class="{% if request.resolver_match.url_name == 'products' %} active {% endif %}" href="{% url 'products' %}">All Products</a>
                          <a class="{% if request.resolver_match.url_name == 'soon' %} active {% endif %}" href="{% url 'soon' %}">Soon</a>
                          <a class="{% if request.resolver_match.url_name == 'available' %} active {% endif %}" href="{% url 'available' %}">Available</a>
                          <a class="{% if request.resolver_match.url_name == 'stock' %} active {% endif %}" href="{% url 'stock' %}">out of stock</a>
                        </div>
                      </div>
                    </div>
                    <hr style="background: white;" />
                    <div class="col-lg-12">
                        <div class="row grid">
                            {% for product in page_obj %}
                            {# Each "contact" is a Contact model object. #}
                            {% include 'product/parts/list_item.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="pagination">

                            <ul>
                                {% if page_obj.has_previous %}
                                <li><a href="?page=1#products-list">&laquo;</a></li>
                                {% else %}
                                <li><a class="disabled">&laquo;</a></li>
                                {% endif %}
                                {% for i in pages.paginator.page_range %}
                                {% if pages.number == i %}
                                <li class="active"><a>{{ i }}</a></li>
                                {% else %}
                                <li><a href="?page={{ i }}#products-list">{{ i }}</a></li>
                                {% endif %}
                                <!-- <li><a href="?page={{ i }}">{{ i }}</a></li> -->
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <!-- <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li> -->
                                <li><a href="?page={{ page_obj.paginator.num_pages }}#products-list">&raquo;</a></li>
                                {% else %}
                                <li><a class="disabled">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" style="background: transparent;">
        <p>Copyright © 2022 StarSOft.com.pk

    </div>
</section>
{% endblock %}