{% extends 'core/base.html' %}
{% load static %}


{% block content %}

<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="{% url 'frontpage' %}" class="logo">
            <img src="{% static 'assets/images/logo.png' %}" width="100" height="80">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="{% url 'frontpage' %}">Home</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>


            <li><a href="index.html">Contact Us</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>

</header>

<section class="upcoming-meetings" id="meetings-sig" style="padding-bottom: 0px !important; padding-top: 150px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Top Running Producct</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories">
          <h4>Products Catgories</h4>
          <ul>

            <li><a href="{% url 'profile' %}">Profile Details</a></li><br>
            <li><a href="#">Varify Orders</a></li><br>
            <li><a href="{% url 'total-orders' %}" style="color: #a12c2f;">Total Orders</a></li><br>
            <li><a href="#">Varified Orders</a></li><br>
            <li><a href="#">Not Varified Orders</a></li><br>
            <li><a href="#">Delivered Orders</a></li><br>
          </ul>
          <div class="main-button-red">
            <a href="{% url 'products' %}"><i class="fa-solid fa-arrow-left"></i> Products</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="categories">
          <h4>Username: {{request.user.buyer}}</h4>
          {% if order %}
          {% for order in order %}
          Order #: {{order.id}}
          <br>
          Order Status: {{order.order_status}}
          <br>
          <hr>
          {% endfor %}
          {% else %}
          <p>You Don't have any orders yet</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright © 2022 StarSOft.com.pk

  </div>
</section>
{% endblock %}